.intro{
   position: relative;
   margin-top: 129px;
   padding-bottom: 250px;
   overflow-x: hidden;
   
   @media only screen and (max-width: 770px) {
      margin-top: 112px;
   }
   
   @media only screen and (max-width: 450px) {
      margin-top: 80px;
   }
   
   &::before{
      content: '';
      position: absolute;
      width: 100px;
      height: 200px;
      background-image: url(../../../img/home/bg-1.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      left: -20px;
      
      @media only screen and (max-width: 770px) {
         display: none;
      }
   }
   
   &::after{
      content: '';
      position: absolute;
      width: 400px;
      height: 100px;
      background-image: url(../../../img/home/bg-2.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      bottom: 0;
      right: 200px;
      
      @media only screen and (max-width: 450px) {
         right: 20px;
      }
   }
   
   .intro__list{
      display: flex;
      align-items: flex-end;
      
      @media only screen and (max-width: 770px) {
         flex-direction: column;
         align-items: center;
      }
      
      .intro__item{
         
         .intro__title{
            position: relative;
            font-size: 100px;
            line-height: 100px;
            font-weight: 700;
            width: 620px;  
            color: $white;
            
            @media only screen and (max-width: 770px) {
               font-size: 64px;
               line-height: 56px;
               width: 370px;
               text-align: center;
               margin-bottom: 24px;
            }
            
            @media only screen and (max-width: 450px) {
               font-size: 40px;
               line-height: 40px;
               width: 230px;
               margin-bottom: 16px;
            }
            
            &::after{
               content: '';
               position: absolute;
               background-color: #79C8C7;
               width: 50px;
               height: 4px;
               top: 0;
               right: -50px;
               
               @media only screen and (max-width: 770px) {
                  display: none;
               }
            }
            
            .tomato{
               color: $tomato;
            }
         }
         
         .intro__text{
            font-size: 18px;
            line-height: 28px;
            color: $white;
            width: 445px;
            
            @media only screen and (max-width: 770px) {
               font-size: 15px;
               text-align: center;
               width: 457px;
            }
            
            @media only screen and (max-width: 450px) {
               width: 327px;
            }
         }
      }
   }
}